@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500&display=swap');

:root {
  --primary-400: #56ccf2;
  --primary-500: #2d9cdb;
  --navbar-bg: #4f4f4f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(12px, 8px + 1vw, 32px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: inherit;
}

* {
  box-sizing: border-box;
}
